<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Wednesday</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
        <link rel="icon" sizes="144x144" href="{{ url_for('static', filename='img/icons8-calendar-144.png') }}">
        
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    </head>
    <style>
        html, body{
            height: 100%;
            background: rgba(0, 0, 0, 0) linear-gradient(135deg, #030811 0%, #14141F 100%) repeat scroll 0 0;;
        }
    </style>
	<body>
        <div class="w3-container w3-center" style="margin-top: 12px; color: whitesmoke">
            <h1>Wednesday</h1>
        </div>
        <div class="w3-container" style="margin-top: 25px; width: 80%; margin-left: 10%;">
            <div class="table=responsive">
                    <table class="table " style="color: whitesmoke;">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Subject</th>
                                    <th>Venue</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>8-9</td>
                                    <td>Embedded System (UCS614)</td>
                                    <td>LT402</td>
                                </tr>
                                <tr>
                                    <td>9-10</td>
                                    <td>Data Analytics (UCS633)</td>
                                    <td>LT403</td>
                                </tr>
                                <tr>
                                    <td>12-1</td>
                                    <td>Image Processing (UCS615)</td>
                                    <td>LP106</td>
                                </tr>
                                <tr>
                                    <td>2-3</td>
                                    <td>NLP (UML602)</td>
                                    <td>LP106</td>
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>
        <div class="w3-container w3-center" style="margin-top: 12px; color: whitesmoke">
            <a href="{{ url_for('tt_all') }}"><button class="w3-btn w3-amber">View All</button></a>
        </div>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>